.navbar {
    background-color: #1f2136;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.navbar a {
    text-decoration: none;
    color: inherit;
  }  

.navbar li {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    display: inline-block;
    margin-right: 2%;
    color: #fff;
}

.navbar #login {
    position: absolute;
    margin-left: 25%;
}