#skills {
    background-color: #23253a;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

#barra-progreso {
    margin-bottom: 2%;
    width: 100vh;
    height: 20px;
    background-color: #f0f0f0;
  }
  
  #barra-progreso::-webkit-progress-bar {
    background-color: #f0f0f0;
  }
  
  #barra-progreso::-webkit-progress-value {
    background-color: #c94322;
  }
  
  #barra-progreso::-moz-progress-bar {
    background-color: #c94322;
  }
  