<section id="acerca-de">
    <h1>Sobre mi</h1>
    <p>¡Hola! Soy {{user.nombre}}, un estudiante apasionado de Diseño de la Comunicación Visual y entusiasta de la programación. Me encanta explorar el mundo de la creatividad y la tecnología, fusionando mis habilidades en diseño con la capacidad de desarrollar soluciones interactivas.</p>
    <p>Además de mi pasión por el diseño, he estado inmerso en el mundo de la programación, particularmente en las tecnologías HTML, CSS y JavaScript. Estas herramientas me han permitido explorar el diseño web y crear interfaces interactivas. Además, he estado ampliando mis conocimientos en Angular y Spring Boot, dos tecnologías que me permiten desarrollar aplicaciones web robustas y escalables.</p>
</section>
